<div class="card-appointement">
	<% @appointements.each do |appointement| %>
<div class="card-a-container">
    <div class= "rdv-card">
      <p><%="#{appointement.begining_hour}"%></p>
      <p><%="#{appointement.user.first_name}" %></p>
    </div>
       <div>
        <p><%=link_to "Cancel", machine_appointement_path(appointement.machine, appointement),class: "btn-appointements", method: "delete"%></p>
        <p><%=link_to "Review", new_appointement_review_path(appointement),class: "btn-appointements" %></p>
      </div>
</div>
	<% end %>
</div>

<div class= "back-btn">
<%= link_to "Back to Map", machines_path, class: "btn-appointements"%>
</div>
