<div id="backimageindex" style="background-image: url('<%= image_path "washing.jpg" %>');">

<div class="container margin-machines-index">
	<div class="row">
		<div class="col-4">
			<div class="horizontal-cards">
				<% @machines.each do |machine| %>
					<%= link_to machine_path(machine), class: 'hover-card' do %>
						<div class="card">
						    <% if machine.photo.attached? %>
							<%= cl_image_tag machine.photo.key, class: "img-thumbnail indeximg" %>
							<% else %>
							<%= image_tag "img_one.jpg", class: "img-thumbnail indeximg" %>
							<% end %>
							<div class="card-body">
								<h5 id= "postby" class="card-title">Post by <%= machine.user.first_name%></h5>
								<% if machine.user.profile_picture %>
									<%= cl_image_tag machine.user.profile_picture.key, id: "profilshowpic", class: "avatar" %>
								<% else %>
									<%= image_tag "avatar_img.jpg", id: "profilshowpic", class: "avatar" %>
								<% end %>
								<p class="card-text">My machine is a <%=machine.brand %> and i'm located in <%= machine.location %></p>
                <p id= "indexprice"> <%= machine.price %>€</p>
								<p class= "btn form-btn">Show</p>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-8 position-sticky top-0 vh-100">
			<div style="width: 100%; height: 500px;"
				data-controller="mapbox"
				data-mapbox-markers-value="<%= @markers.to_json %>"
				data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
			</div>
			  <div class= "container-add-an-offer">
			    <p><%= link_to "Post an offer", new_machine_path,  class: "btn form-btn"%></p>
			  </div>
	    </div>
    </div>
</div>
