<% if user_signed_in? %>
	<p> Salut <%= @user.first_name %></p>
<% end %>
<div class="container">
	<% @machines.each do |machine| %>
		<p><%= link_to machine.brand, machine_path(machine) %></p>
	<% end %>
	<p><%= link_to "Post an offer", new_machine_path%></p>
</div>

<div style="width: 100%; height: 300px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>