<% if user_signed_in? %>
	<p> Salut <%= @user.first_name %></p>
<% end %>
<div class="container margin-machines-index">
	<div class="row">
		<div class="col-4">
			<div class="horizontal-cards">
				<% @machines.each do |machine| %>
					<div class="card">
						<img src="https://blog.but.fr/wp-content/uploads/2020/03/01-lave-linge-blanc.jpg" class="card-img-top" alt="">
						<div class="card-body">
							<h5 class="card-title">Post by <%= machine.user.email%></h5>
							<p class="card-text">Ma machine est une <%=machine.brand %> et elle est située au <%= machine.location %></p>
							<%=link_to machine.brand, machine_path(machine), class: "purple-round-btn" ,id: "button-index-to-show" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col-8 position-sticky top-0 vh-100">
			<div style="width: 100%; height: 500px;"
				data-controller="mapbox"
				data-mapbox-markers-value="<%= @markers.to_json %>"
				data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
			</div>
			  <div class= "container-add-an-offer">
			    <p><%= link_to "Post an offer", new_machine_path,  class: "purple-round-btn", id: "add_an_offer"%></p>
			  </div>
	    </div>
    </div>
</div>
